In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("mydb.db")

In [3]:
con.execute("create table students(ID int,name text,age int)")

In [4]:
students =(
    (123,'zhangsan',19),
    (124,'sb',20),
    (125,'zz',18),
)

In [6]:
con.executemany("insert into students values(?,?,?)",students)

In [7]:
for s in students:
    con.execute("insert into students values (?,?,?)",s)

In [10]:
for row in con.execute("select * from students"):
    print(row)

(123, 'zhangsan', 19)
(124, 'sb', 20)
(125, 'zz', 18)
(123, 'zhangsan', 19)
(124, 'sb', 20)
(125, 'zz', 18)

In [11]:
def query_by_name_placeholder(con,name):
    for row in con.execute("select * from students where name=?",(name,)):
        print(row)

In [12]:
query_by_name_placeholder(con,"zhangsan")

(123, 'zhangsan', 19)
(123, 'zhangsan', 19)

In [13]:
query_by_name_placeholder(con,"boby' or true; --")

In [14]:
import json

In [15]:
student = {"name":"zhangsan","age":13}

In [19]:
json.dumps(student)

'{"name": "zhangsan", "age": 13}'

In [20]:
with open("student.json","w")as f:
    json.dump(student,f)

In [22]:
with open("student.json","r")as f:
    student2 =json.load(f)

In [23]:
student2

{'name': 'zhangsan', 'age': 18}

In [24]:
import pickle

In [26]:
with open("student.p","wb") as f:
    pickle.dump(student2,f)

In [27]:
with open("student.p","rb" )as f:
    student3=pickle.load(f)

In [28]:
student3

{'name': 'zhangsan', 'age': 18}

In [33]:
class A:
    def __init__(self,a):
        self.a=a
    def display(self):
        print(self.a)

In [34]:
obj=A(10)

In [35]:
with open("obj.p","wb")as f:
    pickle.dump(obj,f)

In [36]:
with open("obj.p","rb")as f:
    obj2 =pickle.load(f)

In [37]:
type(obj2)

__main__.A

In [39]:
obj2.display()

10